// Global Foundation Settings
@import "settings";

// Comment out this import if you are customizing you imports below
@import "foundation";

@import "compass";



$graybg: #2f2f2f;

body{
	  background: $graybg; 
	  font-family: 'Belleza';


}
span{
	display:inline;
}

#topnav
{
	z-index:999;
	width:100%;
	background:#232323 url(/img/linenbg.jpg);
	-moz-box-shadow:0 0 10px 3px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow:0 0 10px 3px rgba(0, 0, 0, 0.5);
	-o-box-shadow:0 0 10px 3px rgba(0, 0, 0, 0.5);
	box-shadow:0 0 10px 3px rgba(0, 0, 0, 0.5);
	height: 100%;
	padding-top: 1px;
	padding-bottom: 1%;
}
	


#topnav h1
{
	
	
	color: #ffffff; /* Old browsers */
	color: -moz-radial-gradient(center, ellipse cover,  #ffffff 0%, #e5e5e5 100%); /* FF3.6+ */
	color: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#ffffff), color-stop(100%,#e5e5e5)); /* Chrome,Safari4+ */
	color: -webkit-radial-gradient(center, ellipse cover,  #ffffff 0%,#e5e5e5 100%); /* Chrome10+,Safari5.1+ */
	color: -o-radial-gradient(center, ellipse cover,  #ffffff 0%,#e5e5e5 100%); /* Opera 12+ */
	color: -ms-radial-gradient(center, ellipse cover,  #ffffff 0%,#e5e5e5 100%); /* IE10+ */
	color: radial-gradient(ellipse at center,  #ffffff 0%,#e5e5e5 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	

}
#topnav h3
{
	
	//margin-top: 25px;
	text-align: right;
	color: #ffffff; /* Old browsers */
	color: -moz-radial-gradient(center, ellipse cover,  #ffffff 0%, #e5e5e5 100%); /* FF3.6+ */
	color: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#ffffff), color-stop(100%,#e5e5e5)); /* Chrome,Safari4+ */
	color: -webkit-radial-gradient(center, ellipse cover,  #ffffff 0%,#e5e5e5 100%); /* Chrome10+,Safari5.1+ */
	color: -o-radial-gradient(center, ellipse cover,  #ffffff 0%,#e5e5e5 100%); /* Opera 12+ */
	color: -ms-radial-gradient(center, ellipse cover,  #ffffff 0%,#e5e5e5 100%); /* IE10+ */
	color: radial-gradient(ellipse at center,  #ffffff 0%,#e5e5e5 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	//font-size: 1.35em;
	//margin-top: 1%;
	 
	margin-right:50px;
	margin-top: -50px;
	font-size: 24px;
	margin-bottom: 5px;
	font-family: 'Belleza', sans-serif;
}

#topnav h3:hover
{
	font-style: underline;
}

#topnav #buttonnav-col
{
	background:url(/img/linenbg.jpg)
}

#topnav #buttonnav
{
	width:285px;margin:0 auto
}

.container{
-webkit-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
-moz-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
background: #202020;
background-color: rgba(0, 0, 0, 0.3);
margin-top:3%;
padding: 10px;

}



.ribbon-before {
position: absolute;
left: 1px;
background: url(/img/ribbon-before.png);
width: 9px;
height: 9px;
margin-top: -31px !important;
}

.ribbon-after {

position: absolute;
left: 1px;

width: 9px;
height: 9px;
margin-top: -31px;
left: auto;
right: 1px;
background: url(/img/ribbon-after.png);

}



#cslogo{
	
	padding: 11px;
margin-left: 30px;
}

select{
	
  
  	background-color: #2f2f2f;
  	
  height: 30px;
  
  color: white;
  
}

.spacer{
	width:1020px !important ; 
	margin-top:-5px; 
	margin-left:-10px; 
	margin-right:-10px;
}

#topnav #buttonnav
{
	width:285px;margin:0 auto
}



.user{
	width:110px;
}

.panel{
	 @include single-box-shadow;
	 margin-top:10px;
	 margin-bottom:10px;
	 float:left;
	 width:100%;


}

#personal{
	
	float:left;
	width:50%;
	padding:10px;

}

#vehicle{

	float:left;
	width:50%;
	padding:10px;
}

table tbody tr{

font-family: 'Gruppo';
font-weight: bold;
}

table tbody tr> :first-child {

color: #999;
font-weight: bold;

word-wrap: break-word;


}
li h1{
	font-family: 'Gruppo';
font-weight: bold;
}



table{
	width:100%;
}
#modalHeader{
	font-family: 'Gruppo';
font-weight: bold;
text-align: center;
}

#username{
	color: #ff7b0d;
}

#vehicle{
	
	width: 50%;
}
#personal{
	width: 50%;
}
/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
/* Styles */

#vehicle{
	clear: left;
	width: 100%;
}
#personal{
	width: 100%;
}
}

/* Smartphones (landscape) ----------- */
@media only screen 
and (min-width : 321px) {
/* Styles */
#vehicle{
	clear: left;
	width: 100%;
}
#personal{
	width: 100%;
}
}

/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 320px) {
/* Styles */
#vehicle{
	clear: left;
	width: 100%;
}
#personal{
	width: 100%;
}
}


