/* Artfully masterminded by ZURB  */

// Table of Content
//-----------------------------------------
// - Shared Styles
// - Page Name 1
// - Page Name 2

// Shared Styles

// Page Name 1

// Page Name 2

body{
	-webkit-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
  -moz-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
  box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
	background: #202020;
	background-color: #2f2f2f;
}

.home {

  
  

}

